@charset "UTF-8";

:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --third-text-color: #ffffff;
    --main-hover-color: #2196f3;
    --secondary-hover-color: #ffffff;
    --logo-color: #2196f3;
    --secondary-logo-color: #000000;
    --main-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --hero-bg-color: #2f303a;
    --main-button-bg-color: #2196f3;
    --secondary-button-bg-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --about-us-thumb-bg-color: rgba(47, 48, 58, 0.8);
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

button {
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);
}

.title {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.footer-title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    text-transform: uppercase;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.btn {
    font-weight: 700;
    font-size: 16px;
    color: var(--third-text-color);
    background-color: var(--main-button-bg-color);
    cursor: pointer;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    letter-spacing: 0.06em;
    border: 0;
    border-radius: 4px;
    line-height: 1.88;
}

.header {
    border-bottom: 1px solid #ececec;
}

.header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo {
    margin-right: 93px;
}

.logo--dark {
    color: var(--secondary-logo-color);
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.menu__item+.menu__item,
.contacts__item+.contacts__item {
    margin-left: 50px;
}

.menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--main-text-color);
    -webkit-transition: color var(--transition);
    transition: color var(--transition);
}

.menu__link:hover,
.menu__link:focus {
    color: var(--main-hover-color);
}

.menu__link--current {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    color: var(--main-hover-color);
}

.menu__link--current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--main-hover-color);
    bottom: -1px;
    left: 0;
}

.contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
}

.contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    -webkit-transition: color var(--transition);
    transition: color var(--transition);
}

.contacts__link:hover,
.contacts__link:focus {
    color: var(--main-hover-color);
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}

.contacts__link .contacts__icon {
    -webkit-transition: color var(--transition);
    transition: color var(--transition);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
    color: var(--main-hover-color);
}

.hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
    background-color: var(--hero-bg-color);
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-text-color);
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero__button {
    display: block;
    text-align: center;
    font-family: inherit;
    padding: 10px 32px;
    min-width: 136px;
    margin: 0 auto;
}

.features {
    padding-bottom: 0;
}

.features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.features__item {
    width: calc((100% - 90px) / 4);
}

.features__item+.features__item {
    margin-left: 30px;
}

.features__thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--secondary-bg-color);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 4px;
    height: 120px;
    margin-bottom: 30px;
}

.features__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.about__title {
    margin-bottom: 50px;
}

.about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about__item {
    position: relative;
}

.about__item+.about__item {
    margin-left: 30px;
}

.about__thumb {
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: var(--about-us-thumb-bg-color);
    border: 1px solid #000000;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.about__description {
    font-style: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    text-transform: uppercase;
}

.team {
    background-color: var(--secondary-bg-color);
    text-align: center;
    letter-spacing: 0.03em;
}

.team__title {
    margin-bottom: 50px;
}

.team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.team__item {
    background-color: var(--main-bg-color);
    border: 0px solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item+.team__item {
    margin-left: 30px;
}

.team__description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.19;
}

.team__position {
    font-size: 16px;
    color: var(--secondary-text-color);
    margin-bottom: 16px;
    line-height: 1.19;
}

.socials-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.team__social-list {
    margin: 0 32px;
}

.socials-list__item {
    width: calc((100% - 30px) / 4);
    height: 44px;
}

.socials-list__item+.socials-list__item {
    margin-left: 10px;
}

.socials-list__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: background-color var(--transition);
    transition: background-color var(--transition);
}

.socials-list__link:hover,
.socials-list__link:focus {
    background-color: var(--main-hover-color);
}

.socials-list__icon {
    fill: #afb1b8;
}

.socials-list__link .socials-list__icon {
    -webkit-transition: fill var(--transition);
    transition: fill var(--transition);
}

.socials-list__link:hover .socials-list__icon,
.socials-list__link:focus .socials-list__icon {
    fill: #ffffff;
}

.clients__title {
    margin-bottom: 50px;
}

.clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.clients__item {
    width: calc((100% - 150px) / 6);
    height: 92px;
}

.clients__item+.clients__item {
    margin-left: 30px;
}

.clients__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    -webkit-transition: border var(--transition);
    transition: border var(--transition);
}

.clients__link:hover,
.clients__link:focus {
    border: 1px solid var(--main-hover-color);
}

.clients__icon {
    fill: #afb1b8;
}

.clients__link .clients__icon {
    -webkit-transition: fill var(--transition);
    transition: fill var(--transition);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
    fill: var(--main-hover-color);
}

.footer {
    letter-spacing: 0.03em;
    background-color: var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.footer__contacts-container {
    width: 231px;
    margin-left: 0;
}

.contacts-container__footer {
    margin-right: 70px;
}

.logo {
    display: block;
}

.logo--light {
    color: var(--third-text-color);
}

.footer__logo {
    margin-bottom: 20px;
}

.footer-contacts {
    font-style: normal;
    line-height: 1.71;
}

.footer-contacts__item+.footer-contacts__item {
    margin-top: 9px;
}

.footer-contacts__link {
    color: var(--footer-text-color);
    font-size: 14px;
    -webkit-transition: color var(--transition);
    transition: color var(--transition);
}

.footer-contacts__link--light {
    color: var(--third-text-color);
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
    color: var(--main-hover-color);
}

.footer__footer-join {
    margin-right: 93px;
}

.footer-join__title {
    margin-bottom: 20px;
}

.socials-list__link--dark-bg {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: background-color var(--transition);
    transition: background-color var(--transition);
}

.socials-list__link:hover,
.socials-list__link:focus {
    background-color: var(--main-hover-color);
}

.socials-list__icon--light {
    fill: var(--third-text-color);
}

.socials-list__link .socials-list__icon {
    -webkit-transition: background-color var(--transition);
    transition: background-color var(--transition);
}

.socials-list__link:hover .socials-list__icon,
.socials-list__link:focus .socials-list__icon {
    fill: var(--secondary-hover-color);
}

.footer-subscribe__title {
    margin-bottom: 20px;
}

.subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.subscribe-form__input {
    background-color: inherit;
    padding: 15px 0px 15px 16px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-right: 12px;
    color: var(--third-text-color);
}

.subscribe-form__input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
}

.subscribe-form__input::-moz-placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
}

.subscribe-form__input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
}

.subscribe-form__input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
}

.subscribe-form__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
}

.subscribe-form__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.subscribe-form__icon {
    fill: currentColor;
    margin-left: 10px;
    display: inline-block;
}

.portfolio__filters-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio__filters-item+.portfolio__filters-item {
    margin-left: 8px;
}

.portfolio__filters-btn {
    background-color: var(--secondary-button-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    font-family: inherit;
    cursor: pointer;
    border: 0px solid;
    border-radius: 4px;
    padding: 6px 22px;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: background-color var(--transition), color var(--transition), -webkit-box-shadow var(--transition);
    transition: background-color var(--transition), color var(--transition), -webkit-box-shadow var(--transition);
    transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
    transition: background-color var(--transition), color var(--transition), box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.portfolio__filters-btn:hover,
.portfolio__filters-btn:focus {
    background-color: var(--main-hover-color);
    color: var(--secondary-bg-color);
    -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

/* Наши проекты */
.portfolio__projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.portfolio__projects-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.portfolio__projects-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio__projects-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio__projects-link {
    display: block;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-transition: -webkit-box-shadow var(--transition);
    transition: -webkit-box-shadow var(--transition);
    transition: box-shadow var(--transition);
    transition: box-shadow var(--transition), -webkit-box-shadow var(--transition);
}

.portfolio__projects-link:hover,
.portfolio__projects-link:focus {
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.portfolio__projects-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: var(--main-hover-color);
    opacity: 0.9;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform var(--transition);
    transition: -webkit-transform var(--transition);
    transition: transform var(--transition);
    transition: transform var(--transition), -webkit-transform var(--transition);
}

.portfolio__projects-link:hover .portfolio__overlay,
.portfolio__projects-link:focus .portfolio__overlay {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio__overlay-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
}

.portfolio__projects-subscribe {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: 0;
}

.portfolio__projects-subtitle {
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.portfolio__projects-text {
    font-size: 14px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity var(--transition), visibility var(--transition);
    transition: opacity var(--transition), visibility var(--transition);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--main-bg-color);
    border-radius: 4px;
    padding: 40px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--main-bg-color);
    width: 30px;
    height: 30px;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.modal__icon-close {
    fill: currentColor;
    -webkit-transition: fill var(--transition);
    transition: fill var(--transition);
}

.modal__btn-close:hover .modal__icon-close,
.modal__btn-close:focus .modal__icon-close {
    fill: var(--main-hover-color);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    text-align: center;
    margin-bottom: 12px;
}

.form__field {
    margin-bottom: 10px;
}

.form__field:nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 20px;
}

.form__title {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
    margin-bottom: 4px;
}

.form__wrap {
    position: relative;
}

.form__input {
    height: 40px;
    padding: 12px 12px 12px 42px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    -webkit-transition: border var(--transition);
    transition: border var(--transition);
    outline: none;
}

.form__input:hover,
.form__input:focus {
    border-color: var(--main-hover-color);
}

.form__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: fill var(--transition);
    transition: fill var(--transition);
}

.form__input:hover+.form__icon,
.form__input:focus+.form__icon {
    fill: var(--main-hover-color);
}

.form__textarea {
    resize: none;
    padding: 12px 16px;
    height: 122px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    -webkit-transition: border var(--transition);
    transition: border var(--transition);
    outline: none;
}

.form__textarea:hover,
.form__textarea:focus {
    border-color: var(--main-hover-color);
}

.form__textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-moz-placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form__textarea:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form__textarea::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.checkbox {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.checkbox__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--secondary-text-color);
}

.checkbox__agreement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 16px;
    height: 15px;
    border: 2px solid var(--main-hover-color);
    border-radius: 2px;
    margin-right: 7px;
    -webkit-transition: background-color var(--transition);
    transition: background-color var(--transition);
}

.checkbox__icon {
    fill: transparent;
    -webkit-transition: fill var(--transition);
    transition: fill var(--transition);
}

.checkbox__input:checked+.checkbox__label .checkbox__agreement {
    background-color: var(--main-hover-color);
    border: none;
}

.checkbox__input:focus+.checkbox__label .checkbox__agreement {
    border-color: var(--main-hover-color);
}

.checkbox__input:checked+.checkbox__label .checkbox__icon {
    fill: var(--third-text-color);
}

.checkbox__link {
    color: var(--main-hover-color);
}

.form__checkbox {
    margin-bottom: 30px;
}

.form__btn {
    display: block;
    width: 200px;
    padding: 10px 0px;
    display: block;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */