.hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images2/baner.jpg);
    background-color: var(--hero-bg-color);
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-text-color);
    max-width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero__button {
    display: block;
    text-align: center;
    font-family: inherit;
    padding: 10px 32px;
    min-width: 136px;
    margin: 0 auto;
}